In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read from saved file
df = pd.read_csv(r"C:\Users\jaroo\OneDrive\Documents\netflix_titles.csv") # <change the file path>
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### Checking data

In [3]:
# Check the row count
df.shape

(8807, 12)

In [4]:
# To see high level data details
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
# checking for null values
df.isnull().sum().sort_values(ascending=False)

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

### Handling Manual input error

In [6]:
# Findout manual input error for duration
df[df['duration'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [7]:
# Correcting manual input by replacing rating to duration
df.loc[df['director']=='Louis C.K.','duration'] =df['rating']
df.loc[df['director']=='Louis C.K.','rating'] ='Unknown'
df[df['director']=='Louis C.K.']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,Unknown,74 min,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,Unknown,84 min,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,Unknown,66 min,Movies,The comic puts his trademark hilarious/thought...

### Handling null values

In [8]:
# Checking the percentage of null values overall
round(df.isnull().sum()/df.shape[0]*100,2).sort_values(ascending=False)

director        29.91
country          9.44
cast             9.37
date_added       0.11
rating           0.05
show_id          0.00
type             0.00
title            0.00
release_year     0.00
duration         0.00
listed_in        0.00
description      0.00
dtype: float64

In [9]:
# dropping rows fpr small percentages if nulls 
df.dropna(subset=['rating','date_added'],axis=0, inplace=True)
df.shape

(8793, 12)

In [10]:
round(df.isnull().sum()/df.shape[0]*100,2).sort_values(ascending=False)

director        29.81
country          9.43
cast             9.38
show_id          0.00
type             0.00
title            0.00
date_added       0.00
release_year     0.00
rating           0.00
duration         0.00
listed_in        0.00
description      0.00
dtype: float64

In [11]:
# Replace nan values with appropriate values
df['country'].replace(np.nan,'United States',inplace = True)
df['director'].replace(np.nan, 'Unknown', inplace = True)
df['cast'].replace(np.nan,'Unknown', inplace = True)
df.isnull().sum().sort_values(ascending=False)

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

### Handling duplicates data

In [12]:
# Dropping duplicates
df.drop_duplicates(inplace=True)
df.shape

(8793, 12)

### Changing column type by cleaning column data

In [13]:
# Removing characters from duration
df.duration=df.duration.apply(lambda x: x.replace (' min', '') if 'min' in x else x)
df.duration=df.duration.apply(lambda x: x.replace (' Season', '') if 'Season' in x else x)
df.duration=df.duration.apply(lambda x: x.replace ('s', '') if 's' in x else x)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,"September 25, 2021",2020,PG-13,90,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",United States,"September 24, 2021",2021,TV-MA,1,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,United States,"September 24, 2021",2021,TV-MA,1,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### Adding columns

In [14]:
# Add new columns for time analysis
df['date_added_year']=pd.DatetimeIndex(df['date_added']).year
df['date_added_month']=pd.DatetimeIndex(df['date_added']).month

### Changing to Data Types

In [15]:
# Correcting data types
df.loc[:,['duration']]=df.loc[:,['duration']].apply(lambda x: x.astype('int64'))
df['date_added'] = pd.to_datetime(df['date_added'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8793 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           8793 non-null   object
 1   type              8793 non-null   object
 2   title             8793 non-null   object
 3   director          8793 non-null   object
 4   cast              8793 non-null   object
 5   country           8793 non-null   object
 6   date_added        8793 non-null   datetime64[ns]
 7   release_year      8793 non-null   int64
 8   rating            8793 non-null   object
 9   duration          8793 non-null   int64
 10  listed_in         8793 non-null   object
 11  description       8793 non-null   object
 12  date_added_year   8793 non-null   int64
 13  date_added_month  8793 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(9)
memory usage: 1.0+ MB

In [17]:
df.describe()

       release_year     duration  date_added_year  date_added_month
count   8793.000000  8793.000000      8793.000000       8793.000000
mean    2014.183100    69.936086      2018.872740          6.655976
std        8.824128    50.786024         1.574023          3.435754
min     1925.000000     1.000000      2008.000000          1.000000
25%     2013.000000     2.000000      2018.000000          4.000000
50%     2017.000000    88.000000      2019.000000          7.000000
75%     2019.000000   106.000000      2020.000000         10.000000
max     2021.000000   312.000000      2021.000000         12.000000

### Creating subset data

In [18]:
# # Creating a new list of directors with showid
director_s = df[['show_id','director']]
director_s = (director_s.drop('director', axis=1)
        .join (director_s.director.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('director')))
print(director_s)

     show_id         director
0         s1  Kirsten Johnson
1         s2          Unknown
2         s3  Julien Leclercq
3         s4          Unknown
4         s5          Unknown
...      ...              ...
8802   s8803    David Fincher
8803   s8804          Unknown
8804   s8805  Ruben Fleischer
8805   s8806     Peter Hewitt
8806   s8807      Mozez Singh

[9598 rows x 2 columns]

In [19]:
# Creating a new list of cast with showid
cast_s = df[['show_id','cast']]
cast_s = (cast_s.drop('cast', axis=1)
        .join (cast_s.cast.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('cast')))
print(cast_s)

     show_id                   cast
0         s1                Unknown
1         s2             Ama Qamata
1         s2            Khosi Ngema
1         s2          Gail Mabalane
1         s2         Thabang Molaba
...      ...                    ...
8806   s8807       Manish Chaudhary
8806   s8807           Meghna Malik
8806   s8807          Malkeet Rauni
8806   s8807         Anita Shabdish
8806   s8807  Chittaranjan Tripathy

[64844 rows x 2 columns]

In [20]:
# Creating a new list of genre with showid
genre_s = df[['show_id','listed_in']]
genre_s = (genre_s.drop('listed_in', axis=1)
        .join (genre_s.listed_in.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('listed_in')))
print(genre_s)

     show_id                 listed_in
0         s1             Documentaries
1         s2    International TV Shows
1         s2                 TV Dramas
1         s2              TV Mysteries
2         s3            Crime TV Shows
...      ...                       ...
8805   s8806  Children & Family Movies
8805   s8806                  Comedies
8806   s8807                    Dramas
8806   s8807      International Movies
8806   s8807          Music & Musicals

[19297 rows x 2 columns]

In [21]:
# Creating a new list of country with showid
country_s =pd.DataFrame()
country_s = df[['show_id','country']]
country_s['country'].replace(", South Korea","South Korea",inplace = True)
country_s['country'].replace(", France, Algeria","France, Algeria",inplace = True)
country_s['country'].replace("United Kingdom,","United Kingdom",inplace = True)
country_s['country'].replace("France, Belgium, Luxembourg, Cambodia,","France, Belgium, Luxembourg, Cambodia",inplace = True)
country_s['country'].replace("United States,","United States",inplace = True)
country_s['country'].replace("Poland,","Poland",inplace = True)
country_s = (country_s.drop('country', axis=1)
        .join (country_s.country.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('country')))
print(country_s)

     show_id        country
0         s1  United States
1         s2   South Africa
2         s3  United States
3         s4  United States
4         s5          India
...      ...            ...
8802   s8803  United States
8803   s8804  United States
8804   s8805  United States
8805   s8806  United States
8806   s8807          India

[10829 rows x 2 columns]

C:\Users\jaroo\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

### Python script to load data into PBI

In [ ]:
import pandas as pd
import numpy as np

# Read from saved file
df = pd.read_csv(r"C:\Users\jaroo\OneDrive\Documents\netflix_titles.csv") # <change the file path>

# Correcting manual input by replacing rating to duration
df.loc[df['director']=='Louis C.K.','duration'] =df['rating']
df.loc[df['director']=='Louis C.K.','rating'] ='Unknown'

# dropping rows fpr small percentages if nulls 
df.dropna(subset=['rating','date_added'],axis=0, inplace=True)

# Replace nan values with appropriate values
df['country'].replace(np.nan,'United States',inplace = True)
df['director'].replace(np.nan, 'Unknown', inplace = True)
df['cast'].replace(np.nan,'Unknown', inplace = True)

# Dropping duplicates
df.drop_duplicates(inplace=True)

# Removing characters from duration
df.duration=df.duration.apply(lambda x: x.replace (' min', '') if 'min' in x else x)
df.duration=df.duration.apply(lambda x: x.replace (' Season', '') if 'Season' in x else x)
df.duration=df.duration.apply(lambda x: x.replace ('s', '') if 's' in x else x)

# Correcting data types
df.loc[:,['duration']]=df.loc[:,['duration']].apply(lambda x: x.astype('int64'))
df['date_added'] = pd.to_datetime(df['date_added'])

# Add new columns for time analysis
df['date_added_year']=pd.DatetimeIndex(df['date_added']).year
df['date_added_month']=pd.DatetimeIndex(df['date_added']).month


# Mapping tables

# Creating a new list of directors with showid
director_s = df[['show_id','director']]
director_s = (director_s.drop('director', axis=1)
        .join (director_s.director.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('director')))

# Creating a new list of cast with showid
cast_s = df[['show_id','cast']]
cast_s = (cast_s.drop('cast', axis=1)
        .join (cast_s.cast.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('cast')))

# Creating a new list of genre with showid
genre_s = df[['show_id','listed_in']]
genre_s = (genre_s.drop('listed_in', axis=1)
        .join (genre_s.listed_in.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('listed_in')))

# Creating a new list of country with showid
country_s =pd.DataFrame()
country_s = df[['show_id','country']]
country_s['country'].replace(", South Korea","South Korea",inplace = True)
country_s['country'].replace(", France, Algeria","France, Algeria",inplace = True)
country_s['country'].replace("United Kingdom,","United Kingdom",inplace = True)
country_s['country'].replace("France, Belgium, Luxembourg, Cambodia,","France, Belgium, Luxembourg, Cambodia",inplace = True)
country_s['country'].replace("United States,","United States",inplace = True)
country_s['country'].replace("Poland,","Poland",inplace = True)
country_s = (country_s.drop('country', axis=1)
        .join (country_s.country.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('country')))

### Analyse & Validate Data

In [23]:
# Content Released By Year
df1 = df.query('release_year >=2007')
df1 = df1.groupby ('release_year') ['show_id'].count().reset_index()
df1 = df1.sort_values(by =['release_year'], ascending =False)
print(df1)

    release_year  show_id
14          2021      592
13          2020      953
12          2019     1030
11          2018     1146
10          2017     1031
9           2016      901
8           2015      556
7           2014      352
6           2013      286
5           2012      236
4           2011      185
3           2010      193
2           2009      152
1           2008      135
0           2007       88

In [24]:
# Content Released By Year/Type
df2 = df.query('release_year >=2007')
df2 = df2.groupby (['type','release_year']) ['show_id'].count().reset_index()
df2 = df2.sort_values(by =['release_year'], ascending =False)
print(df2)

       type  release_year  show_id
29  TV Show          2021      315
14    Movie          2021      277
13    Movie          2020      517
28  TV Show          2020      436
12    Movie          2019      633
27  TV Show          2019      397
11    Movie          2018      767
26  TV Show          2018      379
25  TV Show          2017      265
10    Movie          2017      766
9     Movie          2016      658
24  TV Show          2016      243
23  TV Show          2015      159
8     Movie          2015      397
22  TV Show          2014       88
7     Movie          2014      264
21  TV Show          2013       61
6     Movie          2013      225
20  TV Show          2012       63
5     Movie          2012      173
19  TV Show          2011       40
4     Movie          2011      145
18  TV Show          2010       39
3     Movie          2010      154
2     Movie          2009      118
17  TV Show          2009       34
16  TV Show          2008       22
1     Movie          2008      113
0     Movie          2007       74
15  TV Show          2007       14

In [25]:
# Contents By Rating
df3 = df.rating.value_counts()
print(df3)

TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
UR             3
NC-17          3
Unknown        3
Name: rating, dtype: int64

In [26]:
# Contents By Rating/Type
df4=df
df4 = df4.groupby (['type','rating']) ['show_id'].count().reset_index()
df4 = df4.sort_values(by =['show_id'], ascending =False)
print(df4)

       type    rating  show_id
8     Movie     TV-MA     2062
6     Movie     TV-14     1427
19  TV Show     TV-MA     1143
5     Movie         R      797
17  TV Show     TV-14      730
9     Movie     TV-PG      540
4     Movie     PG-13      490
20  TV Show     TV-PG      321
3     Movie        PG      287
22  TV Show     TV-Y7      194
21  TV Show      TV-Y      175
11    Movie     TV-Y7      139
10    Movie      TV-Y      131
7     Movie      TV-G      126
18  TV Show      TV-G       94
2     Movie        NR       75
0     Movie         G       41
12    Movie  TV-Y7-FV        5
15  TV Show        NR        4
14    Movie   Unknown        3
13    Movie        UR        3
1     Movie     NC-17        3
16  TV Show         R        2
23  TV Show  TV-Y7-FV        1

In [27]:
# Top 5 Directors publish more contents
ddr = df[['show_id','director','type']]
ddr = (ddr.drop('director', axis=1)
        .join (ddr.director.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('director')))
df22 = ddr[['show_id','type','director']]
df22 = df22.groupby (['type','director']) ['show_id'].count().reset_index().sort_values('show_id')
# df22 = df22.to_frame()
df22 = df22[df22.director != 'Unknown']
df22 = df22.sort_values(by =['show_id'], ascending =False)
df22 = df22.head(5)
print(df22)

       type       director  show_id
3581  Movie  Rajiv Chilaka       22
1816  Movie      Jan Suter       21
3632  Movie    Raúl Campos       19
4260  Movie    Suhas Kadav       16
1861  Movie      Jay Karas       15

In [28]:
# Top 5 Directors publish more contents/type
ddr = df[['show_id','director','type']]
ddr = (ddr.drop('director', axis=1)
        .join (ddr.director.str.split(', ', expand = True).stack().reset_index(drop=True,level=1).rename('director')))
df22 = ddr[['show_id','type','director']]
df22 = df22.groupby (['type','director']) ['show_id'].count().reset_index().sort_values('show_id')
# df22 = df22.to_frame()
df22 = df22[df22.director != 'Unknown']
df22 = df22[df22.type == 'TV Show']
df22 = df22.sort_values(by =['show_id'], ascending =False)
df22 = df22.head(5)
print(df22)

         type               director  show_id
4923  TV Show              Ken Burns        3
4785  TV Show    Alastair Fothergill        3
5028  TV Show            Shin Won-ho        2
4877  TV Show            Hsu Fu-chun        2
4861  TV Show  Gautham Vasudev Menon        2